<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo</title>
  </head>
  <body>
    <h1>Here is some weird sample form</h1>
    <form class="form" action="index.html" method="post">
      First name: <input type="text" name="f-name">
      Last name: <input type="text" name="l-name">
      Age: <input type="text" name="age"> <br>
      Sex: <input type="radio" name="sex" value="M">Male
           <input type="radio" name="sex" value="F">Female
      <br>
      <button type="button" name="submit">Submit</button>     
    </form>

  </body>
</html>
