.<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ninjas.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='ninjas.js')}}"></script>
  </head>
  <body>
    <img src="../static/img/ninjapng">
    <h1> Everything you watned to know about ninjas is below:</h1>
    <p>
      Maecenas convallis elit laoreet, euismod metus a, lobortis sapien. Suspendisse ac pulvinar velit,
      ac gravida ex. Donec mattis sed sem in mattis. Donec nec nibh dolor. Praesent nec nunc sit amet
      libero dapibus blandit ut gravida orci. Quisque tincidunt id purus at tristique. Vivamus interdum facilisis dui,
      vitae dapibus turpis maximus eu.
    </p>




  </body>
</html>
