* {
  font-family: sans-serif;
}

.counter {
  display: inline-block;
  margin: 150px 0px 0 150px;
  height: 120px;
  width: 120px;
  background-color: orange;
  padding: 10px;
}

form {
  display: inline;
}
