<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='ninjas.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/ninjas.css"> -->
  </head>
  <body>
    <div class="ninjas">
      <img src="../static/donatello.jpg" alt="../donatello.jpg">
      <img src="../static/leonardo.jpg" alt="../donatello.jpg">
      <img src="../static/michelangelo.jpg" alt="../donatello.jpg">
      <img src="../static/raphael.jpg" alt="../donatello.jpg">
    </div>
  </body>
</html>
