* {
  font-family: sans-serif;
}

.survey-box {
  background: lightblue;
  display: inline-block;
  height: 210px;
  width: 300px;
  margin-left: 50px;
  padding: 15px;
}
  .comment {
    width: 280px;
    height: 60px;
    vertical-align: top;
  }
  .submit {
    margin-left: 235px;
  }
